@use "./variables" as *;

@font-face {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  src: url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Regular)
    format("truetype");
}

@font-face {
  font-family: $base-font;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  src: url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold)
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: $base-font;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  src: url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi)
    format("truetype");
  font-weight: 600;
}
