@use "./variables" as *;

@mixin h1 {
  font-family: $base-font;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: $white;
}

@mixin h1-tablet {
  font-family: $base-font;
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: 500;
  color: $white;
}

@mixin h2 {
  font-family: $base-font;
  color: $bandsite-black;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@mixin h2-tablet {
  font-family: $base-font;
  color: $bandsite-black;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 500;
}

@mixin h3 {
  font-family: $base-font;
  color: $bandsite-black;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@mixin h3-tablet {
  font-family: $base-font;
  color: $bandsite-black;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@mixin body_copy {
  font-family: $base-font;
  color: $bandsite-black;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin body_copy_tablet {
  font-family: $base-font;
  color: $bandsite-black;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
}

@mixin footer_copy {
  font-family: $base-font;
  color: $mercury;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin button {
  font-family: $base-font;
  color: $bandsite-black;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
