@use "./partials/fonts" as *;
@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/breakpoints" as *;

* ::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.hero {
  background: linear-gradient(#32323280, #32323280),
    url(../assets/images/hero-bio.jpg);
  background-repeat: round;
  display: flex;
  height: 45vw;

  @include tablet {
    height: 55vw;
  }

  @include desktop {
    height: 40vw;
  }

  &__copy-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2.25rem;
    }

    @include desktop {
      max-width: 63.75rem;
      margin-left: 9rem;
    }
  }

  &__copy {
    @include h1;

    @include tablet {
      @include h1-tablet;
    }
  }
}

.about {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;

  @include tablet {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  @include desktop {
    margin-left: 9rem;
    margin-right: 9rem;
  }

  &__header {
    @include h2;
    color: $bandsite-black;
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include tablet {
      margin-left: 0;
      @include h2-tablet;
    }

    @include desktop {
      margin-left: 0;
      @include h2-tablet;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      margin-left: 3rem;
      margin-right: 3rem;
      max-height: 45vw;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__quote {
    @extend .about__header;
    @include h3;

    @include tablet {
      @include h3-tablet;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__quote-attribute {
    @extend .about__header;
    @include h3;
    margin-top: 0;
    margin-bottom: 1rem;

    @include tablet {
      @include h3-tablet;
      margin-left: 3rem;
      margin-right: 3rem;
      font-size: 1rem;
      margin-bottom: 2.5rem;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__subheader {
    @extend .about__header;
    @include h3;
    color: $bandsite-darkblack;
    margin-top: 0;
    font-weight: 500;

    @include tablet {
      @include h3-tablet;
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 1.25rem;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__copy-container {
    flex-direction: row;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-self: center;
      margin-left: 3rem;
      margin-right: 3rem;
      gap: 2rem;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__copy {
    @include body_copy;
    margin-bottom: 1rem;

    @include tablet {
      @include body_copy_tablet;
    }
  }
}

.gallery {
  background-color: $alabaster;

  @include tablet {
    padding-bottom: 1rem;
  }

  &__header-container {
    @include h2;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;

    @include tablet {
      margin-left: 2.25rem;
      margin-right: 2.25rem;
      margin-bottom: 1.5rem;
    }

    @include desktop {
      margin-left: 9rem;
      margin-bottom: 1.5rem;
    }
  }

  &__header {
    @extend .gallery__header-container;
    padding-top: 1.5rem;
    margin-top: 0;
    margin-left: 0;

    @include tablet {
      @include h2-tablet;
      padding-top: 2.25rem;
    }

    @include tablet {
      @include h2-tablet;
    }
  }

  &__container {
    flex-direction: column;
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;

    @include tablet {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      gap: 1.5rem;
      margin-right: 2.25rem;
      margin-left: 2.25rem;
      margin-bottom: 1.5rem;
    }

    @include desktop {
      margin-left: 9rem;
      margin-right: 9rem;
      margin-bottom: 1.5rem;
    }
  }

  &__image {
    max-width: $max-phone;
    display: flex;
    margin-bottom: 1rem;

    @include tablet {
      max-width: calc(31% - 2.25rem);
      width: 32%;
      margin: 0;
    }

    @include desktop {
      max-width: calc(41% - 9rem);
      width: 34%;
      margin: 0;
    }
  }
}

.comments {

  @include tablet {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header-container {
    margin-left: $mobile-gutter;

    @include tablet {
      margin-left: 0;
    }

    @include desktop {
      justify-content: flex-start;
    }
  }

  &__header {
    @include h2;

    @include tablet {
      @include h2-tablet
    }
  }

  &__form-container {
    display: flex;
    flex-direction: row;
    margin-left: $mobile-gutter;
    margin-right: $mobile-gutter;
    gap: 0;
    justify-content: space-between;

    @include tablet {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    @include desktop {
      width: 33%;
      justify-content: center;
      display: flex;
    }
  }

  &__avatar-container {
    border-radius: 50%;
    margin: 0.8rem 0 0 0;
    display: flex;
    overflow: hidden;
    max-height: 10vw;
    max-width: 10vw;
    justify-content: center;
    align-items: center;

    @include tablet {
      height: 7vw;
      width: 7vw;
      display: flex;
      justify-content: center;
    }

    @include desktop {
      height: 4vw;
      width: 4vw;
    }
  }

  &__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-bottom: 1rem;

    @include tablet {
      width: 89%;
    }
  }

  &__form-label {
    @include comments_label;
  }

  &__form-copy {
    border-radius: 4px;
    border: 0.06rem solid $mercury;
    background-color: $alabaster;
    padding: 0.75rem;

    @include tablet {
      padding: 1rem;

    }

    &:focus-within {
      border: none;
      outline: 0.06rem solid $bandsite-black;
    }

    &:invalid {
      border: none;
      outline: 0.06rem solid red;
      border-radius: 0.25rem;
    }
  }

  &__form-copy::placeholder {
    font-family: $base-font;
    color: $bandsite-black;
    font-size: 0.675rem;
    padding-top: 0.4rem;
    padding-left: 0.4rem
  }

  &__button {
    @include button;
    color: $white;
    margin-top: 1rem;
    background-color: $bandsite-black;
    font-weight: 500;
    border: none;
    border-radius: 0.25rem;
    height: 2.5rem;
    font-size: 0.875rem;

    @include tablet {
      width: 30%;
      align-self: flex-end;
    }

    &:hover {
      cursor: pointer;
      background-color: $bandsite-darkblack;
    }
  }
}