@use "./partials/fonts" as *;
@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/breakpoints" as *;

* ::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: $bandsite-black;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet {
    min-width: $max-phone;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  @include desktop {
    display: flex;
    margin-left: 9rem;
  }

  &__logo-container {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50%;
    margin-top: 1rem;

    @include tablet {
      display: flex;
      margin-left: 2.25rem;
      align-items: center;
      margin-top: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      margin-left: 0;
    }
  }

  &__logo {
    display: flex;
    min-height: fit-content;
    align-items: center;
    justify-content: center;
  }

  &__list {
    list-style-type: none;
    color: $white;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;

    @include tablet {
      margin-left: 3rem;
      gap: 2rem;
    }
  }

  &__list-cta {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    padding-bottom: 0.45rem;
    margin-top: 0.4rem;

    &:hover {
      border-bottom: $white 5px solid;
      color: $white;
      cursor: pointer;
      font-weight: 500;
    }

    &:active {
      border-bottom: $white 5px solid;
      color: $white;
      cursor: pointer;
      font-weight: bold;
    }

    &:disabled {
      border: none;
      color: $mercury;
      font-weight: 500;
    }

    @include tablet {
      padding-bottom: 1rem;
      padding-top: 1.25rem;
    }
  }

  &__bio-cta {
    @include body_copy;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50vw;
  }

  &__shows-cta {
    @include body_copy;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50vh;
  }
}

.hero {
  background: linear-gradient(#32323280, #32323280),
    url(../assets/images/hero-bio.jpg);
  background-repeat: round;
  display: flex;
  height: 45vw;

  @include tablet {
    height: 55vw;
  }

  @include desktop {
    height: 40vw;
  }

  &__copy-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2.25rem;
    }

    @include desktop {
      max-width: 63.75rem;
      margin-left: 9rem;
    }
  }

  &__copy {
    @include h1;

    @include tablet {
      @include h1-tablet;
    }
  }
}

.about {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;

  @include tablet {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  @include desktop {
    margin-left: 9rem;
    margin-right: 9rem;
  }

  &__header {
    @include h2;
    color: $bandsite-black;
    text-align: left;
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;

    @include tablet {
      margin-left: 0;
      @include h2-tablet;
    }

    @include desktop {
      margin-left: 0;
      @include h2-tablet;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      margin-left: 3rem;
      margin-right: 3rem;
      max-height: 45vw;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__quote {
    @extend .about__header;
    @include h3;

    @include tablet {
      @include h3-tablet;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__quote-attribute {
    @extend .about__header;
    @include h3;
    margin-top: 0;
    margin-bottom: 1rem;

    @include tablet {
      @include h3-tablet;
      margin-left: 3rem;
      margin-right: 3rem;
      font-size: 1rem;
      margin-bottom: 2.5rem;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__subheader {
    @extend .about__header;
    @include h3;
    color: $bandsite-darkblack;
    margin-top: 0;
    font-weight: 500;

    @include tablet {
      @include h3-tablet;
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 1.25rem;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__copy-container {
    flex-direction: row;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-self: center;
      margin-left: 3rem;
      margin-right: 3rem;
      gap: 2rem;
    }

    @include desktop {
      margin-left: 5.5rem;
      margin-right: 5.5rem;
    }
  }

  &__copy {
    @include body_copy;
    margin-bottom: 1rem;

    @include tablet {
      @include body_copy_tablet;
    }
  }
}

.gallery {
  background-color: $alabaster;

  &__header-container {
    @include h2;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;

    @include tablet {
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 1.5rem;
    }

    @include desktop {
      margin-left: 9rem;
      margin-bottom: 1.5rem;
    }
  }

  &__header {
    @extend .gallery__header-container;
    padding-top: 1.5rem;
    margin-top: 0;
    margin-left: 0;

    @include tablet {
      @include h2-tablet;
      padding-top: 2.25rem;
    }

    @include tablet {
      @include h2-tablet;
    }
  }

  &__container {
    flex-direction: column;
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 2.25rem;
      margin-left: 2.25rem;
    }

    @include desktop {
      margin-left: 9rem;
      margin-right: 9rem;
    }
  }

  &__image {
    max-width: $max-phone;
    display: flex;
    margin-bottom: 1rem;

    @include tablet {
      max-width: 100%;
      flex: 0 0 32%;
      margin-bottom: 2.25rem;
    }
  }
}

.footer {
  background-color: $bandsite-black;
  color: $white;
  display: flex;
  flex-direction: column;

  &__contact-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      margin-left: 2.25rem;
      gap: 4rem;
      align-items: center;
      margin-bottom: 2rem;
    }

    @include desktop {
      margin-top: 1.5rem;
      margin-left: 9rem;
      margin-right: 9rem;
    }
  }

  &__header-container {
    @include h2;
    display: flex;
    margin-top: 1.5rem;
  }

  &__header-copy {
    @extend .footer;
    font-weight: 500;
  }

  &__social-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 45%;

    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 20vw;
    }
  }

  &__social {
    min-width: auto;

    @include tablet {
      max-height: 75%;
    }
  }

  &__agency-container {
    margin-left: 1rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }

    @include desktop {
      margin-left: 9rem;
      margin-right: 9rem;
      justify-content: flex-start;
      gap: 8rem;
    }
  }

  &__agency {
    margin-bottom: 1rem;

    @include tablet {
      max-width: 30%;
    }
  }

  &__agency-header {
    @include footer_copy;
    font-weight: 500;
    margin-bottom: 1rem;
    word-spacing: 10%;
    letter-spacing: 10%;
  }

  &__agency-copy {
    @extend .footer;
    @include footer_copy;
    text-decoration: none;
    margin-bottom: 1rem;
  }

  &__logo-container {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__logo {
  }

  &__copyright-container {
    margin-left: 1rem;
    margin-bottom: 1.5rem;

    @include tablet {
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }

    @include desktop {
      margin: 4rem 9rem 4rem 9rem;
    }
  }

  &__copyright {
    @extend .footer;
    @include footer_copy;
  }
}
