@font-face {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  src: url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Regular) format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  src: url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  src: url(../../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi) format("truetype");
  font-weight: 600;
}
* ::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 767px) {
  .nav {
    min-width: 767px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.nav__logo-container {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50%;
  margin-top: 1rem;
}
@media (min-width: 767px) {
  .nav__logo-container {
    display: flex;
    margin-left: 2.25rem;
    align-items: center;
    margin-top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.nav__logo {
  display: flex;
  min-height: -moz-fit-content;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
}
.nav__list {
  list-style-type: none;
  color: #ffffff;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
}
@media (min-width: 767px) {
  .nav__list {
    margin-left: 3rem;
    gap: 2rem;
  }
}
.nav__list-cta {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  padding-bottom: 0.45rem;
  margin-top: 0.4rem;
}
.nav__list-cta:hover {
  border-bottom: #ffffff 5px solid;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}
.nav__list-cta:active {
  border-bottom: #ffffff 5px solid;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.nav__list-cta:disabled {
  border: none;
  color: #e1e1e1;
  font-weight: 500;
}
.nav__bio-cta {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
}
.nav__shows-cta {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50vh;
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5019607843), rgba(50, 50, 50, 0.5019607843)), url(../assets/images/hero-bio.jpg);
  background-repeat: round;
  display: flex;
  height: 45vw;
}
.hero__copy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.hero__copy {
  font-family: "Avenir Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: #323232;
  color: #ffffff;
  font-weight: 500;
}

.about {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;
}
.about__header, .about__subheader, .about__quote-attribute, .about__quote {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #323232;
  text-align: left;
}
.about__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__quote {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.about__quote-attribute {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.about__subheader {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000000;
  margin-top: 0;
  font-weight: 500;
}
.about__copy-container {
  flex-direction: row;
}
@media (min-width: 767px) {
  .about__copy-container {
    display: flex;
    flex-direction: row;
    max-width: 30%;
    justify-content: space-evenly;
    align-self: center;
  }
}
.about__copy {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.gallery {
  background-color: #fafafa;
}
.gallery__header-container, .gallery__header {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-weight: 500;
}
.gallery__header {
  padding-top: 1.5rem;
  margin-top: 0;
  margin-left: 0;
}
.gallery__container {
  flex-direction: column;
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media (min-width: 767px) {
  .gallery__container {
    display: table;
    width: 30%;
    height: auto;
    flex-direction: row;
  }
}
.gallery__image {
  max-width: 767px;
  display: flex;
  margin-bottom: 1rem;
}

.footer, .footer__copyright, .footer__agency-copy, .footer__header-copy {
  background-color: #323232;
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.footer__header-container {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  margin-top: 1.5rem;
}
.footer__header-copy {
  font-weight: 500;
}
.footer__social-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 45%;
}
.footer__social {
  min-width: auto;
}
.footer__agency-container {
  margin-left: 1rem;
}
.footer__agency {
  margin-bottom: 1rem;
}
.footer__agency-header {
  font-family: "Avenir Next";
  color: #e1e1e1;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 500;
  margin-bottom: 1rem;
  word-spacing: 10%;
  letter-spacing: 10%;
}
.footer__agency-copy {
  font-family: "Avenir Next";
  color: #e1e1e1;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 1rem;
}
.footer__logo-container {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer__copyright-container {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}
.footer__copyright {
  font-family: "Avenir Next";
  color: #e1e1e1;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}/*# sourceMappingURL=bio.css.map */